.navbar {
  background-color: #252d37;
  height: 60px;
  width: 100%;
  position: sticky;
}

.img {
  width: 122px;
  height: 38px;
  margin-left: 62px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.headerText {
  color: #ffffff !important;
  margin-right: 106px;
  margin-top: 20px;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
}

.headerLogo {
  margin-right: 31px;
  margin-bottom: 16px;
  margin-top: 10px;
}
